body{
    margin: 0;
    padding: 0;
    height: 100vh;
    width: auto;
    max-width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position:center center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.imageBox{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 100vw;
    height: auto;
    overflow: hidden;
}

@media (min-aspect-ratio: 503/744){
    .imageBox{
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        width: auto;
        height: 100vh;
    }
}

.transform {
    display: none;
}

.transform2{
    opacity: 0;
}

.transform3{
    opacity: 1;
}

.transform4 {
    display: flex;
    height: auto;
    width: 100vw;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    animation-name: appear;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
    animation-duration: 0.5s;
}



.man{
    display: flex;
    z-index: 20;
}

.text{
    position: absolute;
    width: 80%;
    height: auto;
    padding-left: 10%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    z-index: 21;
}

#heart1 {
    position: absolute;
    padding-top: 100%;
    padding-left: 0%;
    width: auto;
    height: 18%;
    z-index: 1;
}

#heart2 {
    position: absolute;
    padding-top: 110%;
    padding-left: 13%;
    width: auto;
    height: 18%;
    z-index: 2;
}

#heart3 {
    position: absolute;
    padding-top: 100%;
    padding-left: 40%;
    width: auto;
    height: 18%;
    z-index: 1;
}

#heart4 {
    position: absolute;
    padding-top: 105%;
    padding-left: 55%;
    width: auto;
    height: 18%;
    z-index: 2;
}

#heart5 {
    position: absolute;
    padding-top: 112%;
    padding-left: 65%;
    width: auto;
    height: 18%;
    z-index: 3;
}
#heart6 {
    position: absolute;
    padding-top: 69%;
    padding-left: 0%;
    width: auto;
    height: 18%;
    z-index: 1;
}

#heart7 {
    position: absolute;
    padding-top: 67%;
    padding-left: 20%;
    width: auto;
    height: 18%;
    z-index: 1;
}

#heart8 {
    position: absolute;
    padding-top: 64%;
    padding-left: 40%;
    width: auto;
    height: 18%;
    z-index: 2;
}

#heart9 {
    position: absolute;
    padding-top: 72%;
    padding-left: 65%;
    width: auto;
    height: 18%;
    z-index: 1;
}

#heart10 {
    position: absolute;
    padding-top: 35%;
    padding-left: 15%;
    width: auto;
    height: 18%;
    z-index: 3;
}

#heart11 {
    position: absolute;
    padding-top: 30%;
    padding-left: 36%;
    width: auto;
    height: 18%;
    z-index: 2;
}

#heart12 {
    position: absolute;
    padding-top: 0%;
    padding-left: 10%;
    width: auto;
    height: 18%;
    z-index: 2;
}

#heart13 {
    position: absolute;
    padding-bottom: 5%;
    padding-left: 32%;
    width: auto;
    height: 18%;
    z-index: 1;
}

#heart14 {
    position: absolute;
    padding-bottom: 40%;
    padding-left: 53%;
    width: auto;
    height: 18%;
    z-index: 3;
}

#heart15 {
    position: absolute;
    padding-bottom: 39%;
    padding-left: 8%;
    width: auto;
    height: 18%;
    z-index: 3;
}

#heart16 {
    position: absolute;
    padding-bottom: 35%;
    padding-left: 28%;
    width: auto;
    height: 18%;
    z-index: 1;
}

#heart17 {
    position: absolute;
    padding-bottom: 70%;
    padding-left: 13%;
    width: auto;
    height: 18%;
    z-index: 2;
}

#heart18 {
    position: absolute;
    padding-bottom: 65%;
    padding-left: 30%;
    width: auto;
    height: 18%;
    z-index: 3;
}

#heart19 {
    position: absolute;
    padding-bottom: 68%;
    padding-left: 52%;
    width: auto;
    height: 18%;
    z-index: 2;
}

#heart20 {
    position: absolute;
    padding-bottom: 100%;
    padding-left: 19%;
    width: auto;
    height: 18%;
    z-index: 3;
}

#heart21 {
    position: absolute;
    padding-bottom: 95%;
    padding-left: 30%;
    width: auto;
    height: 18%;
    z-index: 1;
}

#heart22 {
    position: absolute;
    padding-bottom: 107%;
    padding-left: 53%;
    width: auto;
    height: 18%;
    z-index: 2;
}

#heart23 {
    position: absolute;
    padding-bottom: 100%;
    padding-left: 68%;
    width: auto;
    height: 18%;
    z-index: 1;
}

#heart24 {
    position: absolute;
    padding-bottom: 110%;
    padding-left: 65%;
    width: auto;
    height: 18%;
    z-index: 1;
}

.falling_image_add {
    position: absolute;
    animation-name: fall;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    animation-duration: 0.5s;
}

.inv{
    display: none;
}

@media (min-aspect-ratio: 842/1191){
    .transform4 {
        display: flex;
        height: 100vh;
        width: auto;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }
}

@keyframes fall {
    from {
        transform: translateY(-100vh); /* Start above the screen */
        opacity: 0;
    }
    to {
        transform: translateY(0); /* End at original position */
        opacity: 1;
    }
}

@keyframes appear {
    from{
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes disappear {
    from{
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}