body{
    margin: 0;
    padding: 0;
    height: 100vh;
    background-size: contain;
    background-repeat: no-repeat;
    background-position:center center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imageBox{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: auto;
    height: 100vh;
}

.transform {
    position: absolute;
    transition: 1s ease;
    opacity: 0;
}

.transform2{
    opacity: 0;
}

.transform3{
    opacity: 1;
}

.transform4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    opacity: 0;
}

.transform5{
    display: none;
}

.man{
    display: block;
    z-index: 21;
}

.text{
    position: absolute;
    padding-top: 50vh;
    padding-left: 20vh;
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 80px; /* This size can be adjusted as needed */
    text-align: center;
    color: rgb(0, 0, 0); /* Ensuring text is black for visibility on white background */
}

#heart1 {
    position: absolute;
    padding-top: 65vh;
    padding-left: 0vh;
    width: 20vh;
    height: 20vh;
    z-index: 1;
}

#heart2 {
    position: absolute;
    padding-top: 75vh;
    padding-left: 9vh;
    width: 20vh;
    height: 20vh;
    z-index: 2;
}

#heart3 {
    position: absolute;
    padding-top: 67vh;
    padding-left: 25vh;
    width: 20vh;
    height: 20vh;
    z-index: 1;
}

#heart4 {
    position: absolute;
    padding-top: 73vh;
    padding-left: 38vh;
    width: 20vh;
    height: 20vh;
    z-index: 2;
}

#heart5 {
    position: absolute;
    padding-top: 70vh;
    padding-left: 46vh;
    width: 20vh;
    height: 20vh;
    z-index: 3;
}
#heart6 {
    position: absolute;
    padding-top: 40vh;
    padding-left: 0vh;
    width: 20vh;
    height: 20vh;
    z-index: 1;
}

#heart7 {
    position: absolute;
    padding-top: 47vh;
    padding-left: 14vh;
    width: 20vh;
    height: 20vh;
    z-index: 1;
}

#heart8 {
    position: absolute;
    padding-top: 42vh;
    padding-left: 25vh;
    width: 20vh;
    height: 20vh;
    z-index: 2;
}

#heart9 {
    position: absolute;
    padding-top: 46vh;
    padding-left: 41vh;
    width: 20vh;
    height: 20vh;
    z-index: 1;
}

#heart10 {
    position: absolute;
    padding-top: 25vh;
    padding-left: 10vh;
    width: 20vh;
    height: 20vh;
    z-index: 3;
}

#heart11 {
    position: absolute;
    padding-top: 15vh;
    padding-left: 25vh;
    width: 20vh;
    height: 20vh;
    z-index: 2;
}

#heart12 {
    position: absolute;
    padding-bottom: 0vh;
    padding-left:6vh;
    width: 20vh;
    height: 20vh;
    z-index: 2;
}

#heart13 {
    position: absolute;
    padding-bottom: 5vh;
    padding-left: 18vh;
    width: 20vh;
    height: 20vh;
    z-index: 1;
}

#heart14 {
    position: absolute;
    padding-bottom: 18vh;
    padding-left: 30vh;
    width: 20vh;
    height: 20vh;
    z-index: 3;
}

#heart15 {
    position: absolute;
    padding-bottom: 21vh;
    padding-left: 4vh;
    width: 20vh;
    height: 20vh;
    z-index: 2;
}

#heart16 {
    position: absolute;
    padding-bottom: 27vh;
    padding-left: 17vh;
    width: 20vh;
    height: 20vh;
    z-index: 1;
}

#heart17 {
    position: absolute;
    padding-bottom: 44vh;
    padding-left: 8vh;
    width: 20vh;
    height: 20vh;
    z-index: 3;
}

#heart18 {
    position: absolute;
    padding-bottom: 55vh;
    padding-left: 15vh;
    width: 20vh;
    height: 20vh;
    z-index: 2;
}

#heart19 {
    position: absolute;
    padding-bottom: 40vh;
    padding-left: 40vh;
    width: 20vh;
    height: 20vh;
    z-index: 1;
}

#heart20 {
    position: absolute;
    padding-bottom: 46vh;
    padding-left: 30vh;
    width: 20vh;
    height: 20vh;
    z-index: 3;
}

#heart21 {
    position: absolute;
    padding-bottom: 65vh;
    padding-left: 20vh;
    width: 20vh;
    height: 20vh;
    z-index: 1;
}

#heart22 {
    position: absolute;
    padding-bottom: 70vh;
    padding-left: 30vh;
    width: 20vh;
    height: 20vh;
    z-index: 2;
}

#heart23 {
    position: absolute;
    padding-bottom: 61vh;
    padding-left: 44vh;
    width: 20vh;
    height: 20vh;
    z-index: 1;
}

#heart24 {
    position: absolute;
    padding-bottom: 78vh;
    padding-left: 44vh;
    width: 20vh;
    height: 20vh;
    z-index: 1;
}

.falling_image_add {
    position: absolute;
    animation-name: fall;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    animation-duration: 0.5s;
}

@keyframes fall {
    from {
        transform: translateY(-100vh); /* Start above the screen */
        opacity: 0;
    }
    to {
        transform: translateY(0); /* End at original position */
        opacity: 1;
    }
}







